<h2>Most Popular Tags</h2>
<hr>
<h4>(The tags with the most number of crafts!)</h4>

<% @ordered_tags.each do |tag| %>
  <p><%= link_to tag.name, tag_path(tag) %> (<%= tag.crafts.count %>)</p>
<% end %>

<br>
<%= link_to "Log Out", logout_path %> | <%= link_to "View All Tags", tags_path %> | <%= link_to "View All Crafts", crafts_path %> | <%= link_to "View My Crafts", user_path(current_user) %>
