<%= form_for [user, craft] do |f| %>

  <div class="form-fields">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div><br>

  <div class="form-fields">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div><br>

  <div class="form-fields">
    <%= f.label :difficulty %>
    <em>(Difficulty must be 'easy', 'medium', or 'hard'.)</em>
    <%= f.text_field :difficulty %>
  </div><br>

  <div class="form-fields">
    <%= f.label :picture_url %>
    <%= f.text_field :picture_url %>
  </div><br>

  <div class="form-fields">
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </div><br>

  <div class="form-fields">
    Tags: <br><br>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br><br>

    <%= f.fields_for(:tags, @craft.tags.build) do |tag_field| %>
      <%= tag_field.label 'Create a New Tag: ' %>
      <%= tag_field.text_field :name %>
    <% end %><br><br>
  </div>

  <%= f.submit "Submit" %>
<% end %>
