<%= render 'layouts/notices' %>
<%= render 'layouts/alerts' %>

<h2>All Crafts</h2>
<hr>

<% @ordered_crafts.each do |craft| %>
  <h3><%= craft.title %> | <%= link_to "View", user_craft_path(craft.user, craft) %></h3>
<% end %><br>


<%= link_to "Log Out", logout_path %> | <%= link_to "Create a New Craft", new_user_craft_path(current_user) %> | <%= link_to "View My Crafts", user_path(current_user) %>
