<% if notice %>
  <div id="notice" class="alert">
    <p class="notice" style="color:green"><%= notice %></p>
  </div>
<% end %>

<h2>All Crafts</h2>
<hr>

<% @ordered_crafts.each do |craft| %>
  <h3><%= craft.title %> | <%= link_to "View", user_craft_path(craft.user, craft) %></h3>
<% end %><br>


<%= link_to "Log Out", logout_path %> | <%= link_to "Create a New Craft", new_user_craft_path(current_user) %> | View My Crafts
