<% if notice %>
  <div id="notice" class="alert">
    <p class="notice" style="color:green"><%= notice %></p>
  </div>
<% end %>

<h2><%= @craft.title %></h2>
<hr>

<p><strong>Description: </strong><%= @craft.description %></p>

<p><strong>Level of Difficulty: </strong><%= @craft.difficulty %></p>

<p><strong>Instructions: </strong></p>
<p><%= @craft.instructions %></p>
<br>

<%= link_to "Log Out", logout_path %> | <%= link_to "Home", crafts_path %>

<% if current_user.id == @craft.user_id %>
  | <%= link_to "Edit", edit_user_craft_path(current_user, @craft) %>
<% end %>
