<%= render 'layouts/notices' %>

<h2><%= @craft.title %></h2>
  <hr>

<% if @craft.picture_url && !@craft.picture_url.blank?%>
  <%= image_tag @craft.picture_url, width:"500px", height: "400px" %>
<% end %>

<h3>Author: <%= link_to  @craft.user.name, user_path(@craft.user) %> </h3>

<p><strong>Description: </strong><%= @craft.description %></p>

<p><strong>Level of Difficulty: </strong><%= @craft.difficulty %></p>

<p><strong>Instructions: </strong></p>
<p><%= @craft.instructions %></p>
<br>

<% if @craft.tags.last %>
<p><strong>Tags: </strong></p>
  <ul>
    <% @ordered_tags.each do |tag| %>
      <li><%= link_to tag.name, tag_path(tag) %></li>
    <% end %>
  </ul>
<br>
<% end %>

<% if current_user.id == @craft.user_id %>
  <%= link_to "Edit", edit_user_craft_path(current_user, @craft), class: "btn btn-primary" %>
<% end %>
